{% extends 'www/base_site.html' %}
{% load staticfiles %}

{% block nav_block_links %}
        <li>
            <a href="#about">About</a>
        </li>
        <li>
            <a href="#requirement">Requirements &amp; Installation</a>
        </li>
        <li>
            <a href="#submit_engine">Submit Engine</a>
        </li>
{% endblock %}

{% block content %}
            <section id="home">
                <div class="rev_slider_wrapper">
                    <div class="rev_slider" id="slider5" data-version="5.0">
                        <ul style="background-color: #45738c;">

                            <li data-transition="scaleleftfromright"
                                data-easein="default"
                                data-easeout="default"
                                data-slotamount="4"
                                data-masterspeed="600"
                                data-delay="8000"
                                data-title="FIRST"
                            >
                                <!-- MAIN IMAGE -->
                                <img src="{% static 'www/img/logo.png' %}"
                                     alt=""
                                     data-bgrepeat="no-repeat"
                                     data-bgparallax="7"
                                     class="rev-slidebg"
                                >

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption hero-text giant_nocaps rs-parallaxlevel-7"
                                     data-x="center"
                                     data-y="center"
                                     data-transform_idle="o:1;s:1000;"
                                     data-transform_in="y:-50px;opacity:0;s:1500;e:Power3.easeOut;"
                                     data-transform_out="opacity:0;sX:0;sY:0;s:2000;e:Power3.easeInOut;"
                                     data-start="1000">
                                    <!--FIRST-->
                                    <img src="{% static 'www/img/first_logo.png' %}"/>
                                </div>

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption rs-parallaxlevel-7"
                                     data-x="center"
                                     data-y="center"
                                     data-voffset="143"
                                     data-hoffset="0"
                                     style="z-index: 13; max-width: auto; max-height: auto; white-space: nowrap; padding-top: 15px;">
                                    <div id="main_content" align="center">
                                        <a href='#' class='btn btn-lg btn-transparent' data-toggle="modal"
                                           data-target="#modalRegistration">Register</a>
                                        <a href='https://github.com/vrtadmin/FIRST' target="_blank"
                                           class='btn btn-lg btn-color'>Download</a>
                                    </div>
                                </div>


                            </li>

                        </ul>

                        <div class="local-scroll-no-offset">
                            <a href="#about" class="scroll-down">
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </section>

            <section class="section-wrap intro" id="about">
                <div class="container-fluid">
                    <div class="row">

                        <div class="text-center">
                            <div class="wow slideInDown" data-wow-duration="1.2s"
                                 data-wow-delay="0s">
                                <h2 class="intro-heading heading-frame">
                                    Welcome to First
                                </h2>
                            </div>
                            <div class="container">
                                <div class="row mt-minus-30">

                                    <div class="col-sm-6 wow slideInLeft" align="left" data-wow-duration="1.2s"
                                         data-wow-delay="0s">
                                        <div class="about-description mt-30">
                                            <h4>About Us</h4>
                                            <p class="mb-60">
                                                The Function Identification and Recover Signature Tool (FIRST) developed by
                                                Talos, is an IDA Pro
                                                plugin that
                                                allows reverse engineers to more quickly complete static analysis. It makes
                                                finding similar
                                                functions faster and easier by removing the need to synchronize function
                                                metadata. 
                                            </p>
                                            <p>
                                                FIRST’s extensible framework allows users to submit function metadata to a
                                                repository and
                                                search the repository for function metadata similar to the function
                                            </p>
                                        </div>
                                    </div> <!-- end col -->

                                    <div class="col-sm-6 wow slideInRight" align="left" data-wow-duration="1.2s"
                                         data-wow-delay="0s">
                                        <div id="skills" class="skills-progress">
                                            <h4>Goals</h4>
                                            <p>
                                                Users can contribute function metadata and search for function metadata
                                                similar to the function(s) being analyzed in IDA. FIRST’s framework allows
                                                developers to create new ways to derive similarities between functions.
                                            </p>
                                            <ul style="list-style: circle; padding-left: 25px;">
                                                <li>
                                                    Save function metadata (name, prototype, and comment)

                                                </li>
                                                <li>
                                                    Provide way to find similar functions
                                                </li>
                                                <li>
                                                    Allow users to apply function metadata in IDA Pro
                                                </li>
                                                <li>
                                                    Reduce reverse engineering time
                                                </li>
                                            </ul>
                                        </div>
                                    </div> <!-- end col -->

                                </div>
                            </div>
                            <div class="wow slideInUp" data-wow-duration="1.2s"
                                 data-wow-delay="0s">
                                <img src="{% static 'www/img/intro_logo.png' %}" alt=""/>
                            </div>
                        </div>

                    </div>
                </div>
            </section> <!-- end intro -->

            <section class="result-boxes">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-lg-6 col-md-12 nopadding wow slideInLeft" data-wow-duration="1.2s"
                             data-wow-delay="0s">
                            <div class="statistic result-box result-box-second">
                                <div class="result-wrap clearfix">
                                    <i class="icon icon-User"></i>
                                    <span class="timer" data-from="0" data-to="{{ user_num | default:'0' }}"></span>
                                    <span class="counter-text">Users</span>
                                </div>
                            </div>
                        </div> <!-- end second result box -->

                        <div class="col-lg-6 col-md-12 nopadding wow slideInRight" data-wow-duration="1.2s"
                             data-wow-delay="0s">
                            <div class="statistic result-box result-box-third">
                                <div class="result-wrap clearfix">
                                    <i class="icon icon-Settings"></i>
                                    <span class="timer" data-from="0" data-to="{{ function_num | default:'0' }}"></span>
                                    <span class="counter-text">Functions</span>
                                </div>
                            </div>
                        </div> <!-- end third result box -->

                    </div>
                </div>
            </section> <!-- end results-->


            {% block quick-info %}
            <section class="section-wrap pb-mdm-50 pb-50" id="requirement">
                <div class="container-fluid">

                    <div class="row heading">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="wow slideInDown" data-wow-duration="1.2s"
                                 data-wow-delay="0s">
                                <h2 class="text-center bottom-line">Requirements &amp; Installation</h2>
                                <p class="subheading text-center">
                                    Implement the FIRST plugin today!
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="wow slideInLeft" data-wow-duration="1.2s"
                             data-wow-delay="0s">
                            <div class="col-lg-3 col-md-6 install-item">
                                <div class="install-item-box icon-effect-1 icon-effect-1a text-center">
                                    <a href="#">
                                        <i class="icon icon-Star hi-icon"></i>
                                    </a>
                                    <h3>
                                        Requirements
                                    </h3>
                                    <ul style="list-style: circle;">
                                        <li>
                                            IDA Pro 6.9 SP1
                                        </li>
                                        <li>
                                            Python Requests (https://pypi.python.org/pypi/requests/)
                                        </li>
                                    </ul>


                                </div>
                            </div> <!-- end service item -->

                            <div class="col-lg-3 col-md-6 install-item">
                                <div class="install-item-box icon-effect-1 icon-effect-1a text-center">
                                    <a href="#">
                                        <i class="icon icon-Download hi-icon"></i>
                                    </a>
                                    <h3>
                                        Download
                                    </h3>
                                    <p>
                                        The IDA Pro plug-in can be downloaded from
                                        <a target="_blank" href="https://github.com/vrtadmin/FIRST">
                                            GitHub
                                        </a>
                                    </p>
                                </div>
                            </div> <!-- end service item -->

                        </div>
                        <div class="wow slideInRight" data-wow-duration="1.2s"
                             data-wow-delay="0s">
                            <div class="col-lg-3 col-md-6 install-item">
                                <div class="install-item-box icon-effect-1 icon-effect-1a text-center">
                                    <a href="#">
                                        <i class="icon icon-Hourglass hi-icon"></i>
                                    </a>
                                    <h3>Install</h3>
                                    <p>
                                        For the most stable version of FIRST, get the plug-in from the master branch. For
                                        the latest
                                        <span style="display: none;" class="install_container">
                                        (not stable) version of FIRST, get the plug-in from any of the
                                        development branches.
                                        </span>
                                        <a href="#" class="install_more">
                                            (more)
                                        </a>
                                    </p>
                                    <p style="display: none;" class="install_container">
                                        Once you have a copy of the plug-in, installing the plug-in is as simple as copying
                                        the Python file into the plugins folder. For IDA Pro 6.9 installed on Windows this
                                        folder can be found at: C:\Program Files (x86)\IDA 6.9\plugins
                                        <a href="#" class="install_container">
                                            (less)
                                        </a>
                                    </p>
                                </div>
                            </div> <!-- end service item -->

                            <div class="col-lg-3 col-md-6 install-item">
                                <div class="install-item-box icon-effect-1 icon-effect-1a text-center">
                                    <a href="#">
                                        <i class="icon icon-Notebook hi-icon"></i>
                                    </a>
                                    <h3>Documentation</h3>
                                    <p>
                                        Check out our Docs (<a href="http://first-server.readthedocs.io/en/latest/">Server</a> - <a href="http://first-plugin-ida.readthedocs.io/en/latest/">IDA Plugin</a>).
                                    </p>
                                </div>
                            </div> <!-- end service item -->

                        </div>

                    </div>
                </div>
            </section> <!-- end services -->
            {% endblock %}

            {% block submit_engine %}
            <section id="submit_engine" class="section-wrap process" style="background-color: #45738c;">

                <div class="container">

                    <div class="row heading">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="wow slideInLeft" data-wow-duration="1.2s"
                                 data-wow-delay="0s">
                                <h2 class="text-center color-white bottom-line">Submit Your Own Engine</h2>
                            </div>
                            <div class="wow slideInRight" data-wow-duration="1.2s"
                                 data-wow-delay="0s">
                                <p class="subheading text-center color-white">Show Us What You Got!</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-12 cta-button text-center wow slideInUp" data-wow-duration="1.2s"
                             data-wow-delay="0s">
                            <a href="#" class="btn btn-lg btn-color">Submit Engine</a>
                        </div>

                    </div>
                </div>
            </section> <!-- process -->
            {% endblock %}

{% endblock %}
